html {
  font-size: 62.5%;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  width: 100%;
  min-height: 100svh;
  background-color: #f9fafb;
}

.layout-container {
  width: 90%;
  max-width: 1048px;
  margin: 0 auto;
  color: #374151;
}
